@model WebApplication3.Models.VMMembers
@{
    ViewBag.Title = "Email";
}

<h2>Email</h2>

<div class="panel panel-info">
    <div class="panel-heading bg-info"><h1>請輸入信箱以查詢密碼</h1></div>
    <div>

        <div class="col-md-10">

            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })

        </div>
        <div class="form-group">
            <div>
                @if (ViewBag.em == "123")
                {<p>@TempData["message"]</p>}

                @if (ViewBag.em == "456")
                {<p>您的密碼為： @TempData["message"]</p>}
                <input type="submit" value="尋找" class="btn btn-default" />
            </div>
        </div>
    </div>
</div> 